/* ------- Fonts imports ------------- */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* ----------- Basics sets ----------- */

* {
    margin: 0;
    font-family: 'Press Start 2P';
    box-sizing: border-box;
}

/* ------------ Main title -----------*/

.main-title {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 4rem;
}

#abacus-gif {
    width: 4rem;
    height: 4rem;
}

/* ------------ Buttons ---------------*/

button {
    border-radius: 0.4rem;
    border: 1px unset black;
}

button:hover {
    position: relative;
    bottom: 0.4rem;
    
    cursor: pointer;

    background-color: black;
    color: white;
}

/* ------------ colors -------------- */

:root {
    --primary-color: #F3D34A;
    --secundary-color: #F3A738;
}