/* ------- Fonts imports ------------- */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* ----------- Basics sets ----------- */

* {
    margin: 0;
    font-family: 'Press Start 2P';
    box-sizing: border-box;
}

/* ------------ colors -------------- */

:root {
    --primary-color: #F3D34A;
}