/* ------- Fonts imports ------------- */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* ----------- Basics sets ----------- */

* {
    margin: 0;
    font-family: 'Press Start 2P';
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

/* ------------ Menu Burguer ---------*/

aside {
    display: none;

    border-style: solid;
    border-width: 0 0 0 0.2rem;
    border-color: white;

    position: absolute;
    width: 15rem;
    height: 100%;

    padding: 2rem;

    background-color: black;
    z-index: 0;
}

#menu-burguer {
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 3rem;

    position: absolute;
    top: 1.5rem;
    right: 3rem;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    position: relative;
    top: 3rem;

    width: 10rem;
    height: 10rem;

    color: white;
    text-align: start;
    line-height: 1.2rem;

    padding: 1rem 0;

    list-style: none;
}

/* ------------ Main title -----------*/

.main-title {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
}

h1 {
    font-size: 4rem;
}

#abacus-gif {
    width: 4rem;
    height: 4rem;
}

/* ------------ Links -----------------*/

a {
    text-decoration: none;
    color: inherit;
}

/* ------------ Buttons ---------------*/

button {
    border-radius: 0.4rem;
    border: 1px unset black;
}

button:hover {
    position: relative;
    bottom: 0.4rem;
    
    cursor: pointer;

    background-color: black;
    color: white;
}

/* ------------------- Matrix confirmation --------------------- */

.matrix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.05rem;
}

.matrix-line {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.05rem;
}

.matrix-cell {
    width: 2.5rem;
    height: 2.5rem;

    text-align: center;

    border-radius: 0.4rem;
}

/* ---------- Matrix Cell Input ---------- */

/* --- Remove input number arrows -- */
    /* Chrome, Safari, Edge, Opera */
    .matrix-cell::-webkit-outer-spin-button,
    .matrix-cell::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .matrix-cell[type=number] {
        -moz-appearance: textfield;
    }


/* ------------ colors -------------- */

:root {
    --primary-color: #F3D34A;
    --secundary-color: #F3A738;
}