@import url(imports.css);

html, body {
    width: 100%;
    height: 100%;

    background-color: var(--primary-color);
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-profile {
    width: 45rem;
    height: 25rem;

    background-color: var(--secundary-color);

    display: flex;
    align-items: center;

    border-style: outset;
    border-width: 0.4rem;
    border-color: white;
    border-radius: 0.4rem;

    padding: 1rem;
}

.user-details {
    width: 15rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    padding: 0.6rem;
}

.user-details > label {
    font-size: 0.8rem;
}

.user-pic {
    width: 8rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.4rem solid black;
    border-radius: 10rem;
}

#pic {
    width: 7rem;
    height: 7rem;

    border-radius: 10rem;
}

.user-info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;

    font-size: 0.7rem;

    padding: 1.5rem 1rem 1rem 4rem;
}

#xp-progress {
    width: 15rem;
    height: 1.5rem;

    position: relative;
    top: 0.2rem;
}

#xp-progress::-webkit-meter-optimum-value {
    background-color: black;
}

#xp-progress::moz-meter-bar {
    background-color: black;
}
